<html>
	<head>
		<title>Help</title>
		<link rel='icon' href='/images/weather.png'>
		<link rel='stylesheet' href='/css/styles.css' />
	</head>
	<body>
		<div class='main-content'>
			{{>header}}
			<P>{{helpText}}</P>
		</div>
		{{>footer}}
	</body>
</html>

{{!-- {{>header}} this is how to use a partial template. --}}